@import "tailwindcss";
/* Default theme */
/* Default / fallback theme */
@theme {
  --color-primary: #f0be99; /* light orange */
  --color-secondary: #7554f3; /* indigo */
  --color-text: #ffffff; /* white */
  --color-bg: #242424; /* dark gray */
}

/* Theme variants */
@layer theme {
  /* Dark theme */
  .theme-dark {
    --color-primary: #f0be99;
    --color-secondary: #7554f3;
    --color-text: #ffffff;
    --color-bg: #242424;
  }

  /* Light theme */
  .theme-light {
    --color-primary: #ff6ec7; /* pink */
    --color-secondary: #5e5ce6; /* lighter indigo */
    --color-text: #242424;
    --color-bg: #ffffff;
  }

  /* Solarized theme */
  .theme-solarized {
    --color-primary: #268bd2; /* blue */
    --color-secondary: #d33682; /* pink */
    --color-text: #586e75; /* base text */
    --color-bg: #fdf6e3; /* light background */
  }

  /* Brand theme */
  .theme-brand {
    --color-primary: #ff9900; /* orange */
    --color-secondary: #cc0000; /* red */
    --color-text: #ffffff;
    --color-bg: #101010; /* almost black */
  }
}

:root {
  --color-funny: #df9;
}
@layer base {
  :root {
    /* Typography */
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;

    /* Text & rendering optimizations */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  a {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: inherit;
    transition: color 0.25s;
  }

  a:hover,
  a:focus {
    color: var(--color-secondary);
    outline: none;
  }

  /* Buttons */
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--color-bg);
    color: var(--color-text);
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s, color 0.25s;
  }

  button:hover {
    border-color: var(--color-primary);
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto var(--color-primary);
    border-color: var(--color-primary);
  }
}
